/* NotificationToggle.css */
 /*@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css'); */

button {
    background-color: #007BFF; /* Blue background */
    color: #ffffff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05); /* Slight enlarge effect */
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Blue focus effect */
  }
  
  button:disabled {
    background-color: #BDBDBD; /* Gray background when disabled */
    cursor: not-allowed;
  }
  
  button:disabled:hover {
    background-color: #BDBDBD; /* Keep the gray color on hover if disabled */
  }
  